.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease;
}

.fade-in-up.animate {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease;
}
.fade-in-right {
  opacity: 0;
  transform: translateX(50px);
  transition: all 1s ease;
}
.animate.fade-in-left,
.animate.fade-in-right {
  opacity: 1;
  transform: translateX(0);
}
